<h1>Photo Shoots</h1>
<div class="btn-group">
  <%= link_to "Add New Shoot", {:action => 'new'}, :class => "btn btn-inverse" %>
</div>
<h3>Click on shoot name to see details and make edits</h3>

<ul>
	<% @shoots.each do |shoot| %>
	<h4><%= link_to "#{shoot.name}", shoot_url(shoot) %></h4>
	<% end %>
</ul>
