<h1>Show Photo Shoots</h1>
<%= link_to '
Add More Shoots ', {:action => 'new'} %><br />
<%= link_to("Back to Main Page", {:controller => "home", :action => "index" }) %><br />
<ul>
	<% @shoots.each do |shoot| %>
	<h4><%= link_to "#{shoot.name}", shoot_url(shoot) %></h4>
	<% end %>
