<h1>Equipment Inventory</h1>
<div class="btn-group">
  <%= link_to "Add Equipment", {:action => 'new'}, :class => "btn btn-inverse" %>
</div>
<h3>Click on equipment to see details and make edits</h3>
  <ul class="unstyled">
    <% @equipments.each do |equipment| %>
      <li><h4><%= link_to "#{equipment.make} #{equipment.model} #{equipment.equipment_category}", equipment_url(equipment) %></h4></li>
    <% end %>
  </ul>








