<h1>Show Camera Gear</h1>
<%= link_to 'Go Back to Add More Equipment ', {:action => 'new'} %>
<ul>
	<% @equipments.each do |equipment | %>
	<h4><%= link_to "#{equipment.name}", equipment_url(equipment) %></h4>
	<% end %>






