
<%= link_to "<button>Manage Equipment</button>".html_safe, equipments_path %> <br />
<%= link_to "<button>Manage Shoots</button>".html_safe, shoots_path %> <br />
<div id ="title_page"><%= image_tag("title_image.jpg", :alt => "rss feed") %></div>


  
